#results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#single  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: 10px;
}

img {
    max-height: 100%;
    max-width: 100%;
}

#song {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
}

#titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
}